<turbo-frame id="show_social">
  <turbo-frame id="edit_social" class="mb-5">
    <% if @social_link.present?%>
      <% @social_link.each do |social|%>
        <div class="flex justify-between py-2">
          <div>
            <%= link_to "#{social.title}", social.link%>
          </div>
          <div>
            <%= link_to '編輯', edit_social_link_path(id: social.id), class:"new-btn"%>
            <%= link_to '刪除', social_link_path(id: social.id), class:"new-btn", data:{turbo_method: :delete, turbo_confirm: "確定要刪除?"}%>
          </div>
        </div>   
      <% end %>
    <% end %>  
  </turbo-frame>
  <turbo-frame id="new_social">
    <div class="mt-5">
      <% if @profile.present? %>
      <%= link_to '新增', new_social_link_path, class:"new-btn"%>
      <% else %>
        <button class="disabled-btn" data-controller="button-click" data-action="click->button-click#show_alert">新增</button>
      <% end %>
    </div>
  </turbo-frame>
</turbo-frame>
