<div class="flex flex-col justify-center w-full mx-auto">
  <%= f.label :title, "標題", class: "block text-lg" %>
  <%= f.text_field :title, class: "mx-auto w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none dark:bg-gray-800 dark:text-gray-300", placeholder: "請輸入文章標題" %>
</div>

<div class="flex flex-col justify-center w-full mx-auto mt-3">
  <%= f.label :content, "內容", class: "block text-lg" %>
  <%= f.text_area :content, class: "mx-auto w-full h-96 px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none dark:bg-gray-800 dark:text-gray-300" , placeholder: "請輸入文章內容" %>
</div>
