<%= link_to "文章列表",  articles_path, class: "article-title-link" %>

<h2 class="mt-12 mb-10 text-xl text"><%= @article.title %></h2>

<div data-controller="like" data-id="<%= @article.id %>">
  <a href="#" data-action="click->like#toggle">讚</a>
  <span data-like-target="count">0</span>
</div>
<article>
  <p class="text-lg"><%= @article.content %></p>
</article>
