<%= link_to "文章列表",  articles_path, class: "inline-block mt-28 text-2xl hover:border-b-4 border-amber-300" %>

<h2 class="mt-20 mb-10"><%= @article.title %></h2>

<article>
  <p><%= @article.content %></p>
</article>