<div class="container w-2/3 p-3 pt-10 mx-auto text-left">
  <%= form_with(model: @job, url: company_job_path(account: current_user.account), data: { turbo: false, method:'patch' }) do |f| %>
    <h1 class="text-5xl text-center">編輯職缺</h1>
    <%= render 'form', f: f %>
  <% end %>
</div>
