<div class="w-full px-5 mx-auto sm:w-1/2">
  <div class="relative p-4 my-5 border rounded-md shadow-md">
    <%= render 'profiles/show' %>
  </div>
  <h2 class="text-lg">教育程度</h2>
  <div  class="relative p-1 my-2 border border-solid rounded-md shadow-md">
    <%= render 'education/show'%>
  </div>
  <div class="relative p-1 my-2 border border-solid rounded-md shadow-md">
    <%= render 'social_link/show' %>
  </div>
  <div class="relative p-1 my-2 border border-solid rounded-md shadow-md">
    <%= render 'work_experiences/show' %>
  </div>
</div>
