<div class="form">
  <div class="relative my-2 border-solid border rounded-md p-1">
    <%= render 'profiles/show' %>
  </div>
  <div  class="relative my-2 border-solid border rounded-md p-1">
    <%= render 'education/show'%>
  </div>
  <div class="relative my-2 border-solid border rounded-md p-1">
    <%= render 'social_link/show' %>
  </div>
  <div class="relative my-2 border-solid border rounded-md p-1">
    <%= render 'work_experiences/show' %>
  </div>
</div>
