<div class="form">
  <div class="relative my-2 border-solid border rounded-md p-1">
    <h2 class="text-lg">個人檔案</h2>
    <%= render 'profiles/show' %>
  </div>
  <div  class="relative my-2 border-solid border rounded-md p-1">
    <h2 class="text-lg">教育程度</h2>
    <turbo-frame id="new_education">
      <%= render 'education/show'%>
    </turbo-frame>
  </div>
</div>
