<div>
  <h1 class="font-bold text-4xl">READMee</h1>
  <div>
    <% if current_user %>
      <p>Hello <%= current_user.account %>!</p>
      <%= current_user.role%>

    <% else %>
      <p>您尚未登入</p>
    <% end %>
  </div>
</div>
