<div class=" max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
  <div class="grid gap-4 md:grid-cols-2 md:gap-8 xl:gap-20 md:items-center pt-28">
    <div>
      <h1 class="text-xl font-bold text-gray-800 sm:text-xl lg:text-3xl lg:leading-tight dark:text-white">
        <span class="block mb-2 text-6xl text-amber-500">READMee</span>To know me, just READMee !<br/>
        生活如此愜意，履歷如此恣意 
      </h1>
      <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">
        在職業生涯的大海中，我們如同強而有力的風帆，<br/>
        解決您在寫履歷過程中的種種困擾。<br/>
      </p>
      <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">
        結構和內容不再是痛點，讓您輕鬆駕馭求職之旅。<br/>
        我們提供填空式的導引，引領您輕鬆地編排履歷內容。
      </p>
      </p>
      <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">
        您只需簡易編輯基本個人資訊、工作經歷和教育背景，
        <span class="block font-semibold">讓我們一同蓄勢待發，航向成功的職業未來。</span>
      </p>
      <div class="grid w-full gap-3 mt-7 sm:inline-flex">
        <% if show_registration_button %>
          <a class="inline-flex items-center justify-center px-4 py-3 text-lg font-semibold text-center text-white transition border border-transparent rounded-md gap-x-3 bg-amber-500 hover:bg-amber-600" href="/users/sign_up">註冊會員
            <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
          </a>
        <% end %>
      </div>
    </div> 
    <picture class="w-full max-w-md mx-auto">
      <%= image_tag 'READMee.png' %>
    </picture>
  </div> 
</div>
