<div class="container w-2/3 p-3 mx-auto text-left">
  <%= form_with(model: @company, url: company_path, data:{ turbo:false, method:'patch' }) do |f| %>
    <h1 class="text-5xl text-center">編輯公司</h1>
    <%= render 'form', f: f %>
  <% end %>
</div>
