@tailwind base;
@tailwind components;
@tailwind utilities;

.save-btn {
  @apply rounded-lg py-3 px-5 text-white inline-block bg-amber-500 hover:bg-amber-800 cursor-pointer;
}

.proceed-btn {
  @apply select-none bg-amber-300 text-black rounded-xl p-0.5
}

.input {
  @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full
}
:root {
  --ss-primary-color: #f59e0b !important;
  --ss-main-height: 40px !important;
  --ss-font-color: #888686 !important;
  --ss-spacing-m: 10px !important;
}
.ss-values .ss-value {
  @apply p-2 mr-1 font-semibold rounded !important;
}
.ss-main {
  @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full;
}
.ss-arrow path {
  @apply mr-2 !important;
}
