.skill{
    box-sizing: border-box;
    margin-right: -64px;
    margin-left: -64px;
}
.top-68px{
    top: 68px;
}
.custom-width-250px{
    width: 250px;
}
.max-w-screen-lg{
    width: 1024px;
}

.min-h-1000{
    min-height: 1000px;
}

.img-container {
	width: calc(100% / 1.5);
  margin-top: 3rem;
}

@layer base {
  body {
    font-family: 'Readex Pro', sans-serif;
  }
}

@layer components {
  .card {
    @apply
      bg-white text-gray-700 w-72 min-h-[10rem] shadow-lg rounded-md overflow-hidden
  }

  .badge {
    @apply 
      px-2 py-1 rounded-sm text-xs border-solid border-2 border-gray-300
  }

  .user-name {
    @apply
      font-light
  }
}

.modal {
  position: absolute;
  z-index: 50;
  overflow: auto;
  background-color: rgba(28, 28, 28, 0.401);
  border-radius: 5px;
}

.close-btn {    
 font-size: 22px;
 font-weight: 600;
 color: white;
 padding: 8px 10px;
 border: none; 
 float: right;
 text-decoration: none;
}

.close-btn:hover {
  border-radius: 6px;
  background-color: rgba(211, 211, 211, 0.401);
}
