.skill {
  box-sizing: border-box;
  margin-right: -64px;
  margin-left: -64px;
}
.top-68px {
  top: 68px;
}
.custom-width-190px {
  width: 190px;
}
.max-w-screen-lg {
  width: 1024px;
}

.min-h-1000 {
  min-height: 1000px;
}

.img-container {
  width: calc(100% / 1.5);
  margin-top: 3rem;
}

.modal {
  position: absolute;
  z-index: 50;
  overflow: auto;
  background-color: rgba(28, 28, 28, 0.401);
  border-radius: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.close-btn {
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding: 8px 10px;
  border: none;
  float: right;
  text-decoration: none;
}

.close-btn:hover {
  border-radius: 6px;
  background-color: rgba(211, 211, 211, 0.401);
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-block__content {
  border: 1px solid grey;
}

.ce-header {
  font-weight: 700;
  font-size: 1rem;
}
.profile_name {
  font-size: 3rem;
  font-weight: 700;
}
.profile_name_block {
  display: flex;
  justify-content: space-between;
}
.profile_img {
  width: 15px;
  height: 15px;
}
.profile_edit_img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.delete_img {
  display: inline;
  width: 25px;
  height: 25px;
}
.img_resize {
  width: 30px;
  height: 30px;
}

.colored-toast.swal2-icon-success {
  color: black !important;
}

#custom-target {
  position: absolute;
  right: 0;
}

.position-absolute {
  position: relative !important;
}

#custom-target {
  position: absolute;
  right: 0;
}

.position-absolute {
  position: relative !important;
}

.colored-toast.swal2-icon-success {
  color: black !important;
}

#custom-target {
  position: absolute;
  right: 0;
}

.position-absolute {
  position: relative !important;
}

.section-inputs input {
  border: none;
}

.section-inputs:hover input {
  border: 1px solid gray;
}
.section-inputs:hover textarea {
  border: 1px solid gray;
}

.section-inputs input::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.section-inputs textarea::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.section-inputs:hover input::placeholder {
  opacity: 1;
}

.section-inputs:hover textarea::placeholder {
  opacity: 1;
}