<p>您好 <%= @resource.email %>！</p>

<p>有人請求了更改您的密碼的連結。您可以通過以下連結進行操作。</p>

<p><%= link_to '更改我的密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您並未請求此操作，請忽略此郵件。</p>
<p>您的密碼將不會更改，直到您訪問上面的連結並創建一個新的密碼。</p>
