<section class="flex gap-4 px-5 mt-20 mb-10 border-4 border-solid shadow-2xl border-amber-400">
  <img src="https://picsum.photos/id/184/100/100" alt="">
  <div>
    <h2 class="my-4 text-2xl font-medium">找工作，從製作專業履歷開始</h2>
    <p class="text-gray-500">免費製作履歷，快速找到理想工作</p>
  </div>
</section>
<section class="flex flex-wrap items-center gap-8 ">
  <% @users.each do |user| %>
    <% user.resumes.each do |resume| %>
      <% if resume.publish == true %>
        <li class="list-none">
          <div class="card">
            <div>
              <turbo-frame id="show_resume_<%= resume.id %>">
                <%= link_to resume_path(resume.id), remote: true do %>
                  <img class="object-cover w-full h-full" src="https://picsum.photos/id/457/300/320" alt="resume">
                <% end %>
              </turbo-frame>
            </div>
            <div class="flex items-center justify-between h-10">
              <span class="user-name">
                <%= resume.full_name %>
              </span>
              <%= image_tag 'messenger.png', class: 'w-5 h-auto' %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</section>