<%= turbo_frame_tag "modal" do %>
  



    <section class="flex mb-10  p-4  gap-4 shadow-lg border-solid border-2  border-amber-400  ">
      <img src="https://picsum.photos/id/181/100/100" alt="">
      <div>
        <h2 class="text-2xl font-medium my-4">找工作，從製作專業履歷開始</h2>
        <p class="text-gray-500">免費製作履歷，快速找到理想工作</p>
      </div>
    </section>

    <section class=" flex flex-wrap items-center gap-8 ">
      <% @resumes.each do |resume| %>

    
      <div class="card" >  
        <img src="" alt="">
        <div>
        <img class="w-full h-full object-cover" src="https://picsum.photos/id/456/500/600" alt="resume">
                <%= link_to resume.user_id, resume_path(resume.id)%>
        </div>
        

        
        <div class="flex-col py-3 px-2  gap-3 bg-gray-100">
          <!-- badge -->
          <div class="flex items-center justify-between gap-2 ">
            <div>
              <span class="badge">產品規劃</span>
              <span class="badge">專案管理</span>
              <span class="badge">社群行銷</span>
            </div>    
          <%= image_tag 'heart.png', class: 'w-5 h-auto' %>
          </div>    
        </div>
        <div class="h-10 flex items-center">
          <!-- user-name -->
          <h6 class="user-name">陳先生</h6>  
          <%= image_tag 'messenger.png', class: 'w-5 h-auto' %>
        </div>
      </div>



        
       
         


        <% end %>     
    </section>
    
  
<% end%>








