<turbo-frame action="replace" id="show_resume_<%= @resume.id%>">
  <div class="modal" data-controller="show-resume-close-btn">
    <%= render partial: "show_area1", locals: { resume: @resume } %>
    <%= render partial: "show_area2", locals: { resume: @resume } %>
    <%= render partial: "show_area3", locals: { resume: @resume } %>
    <a href="#" data-action="click->show-resume-close-btn#close" data-show-resume-close-btn-target="closeBtn"class="save-btn">X</a>
  </div>
</turbo-frame>
